//
// Driver
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.driver {
    h1 {
        @include heading(beta);
    }
}

.driver-information {
    @include clearfix;

    dt {
        float: left;
        clear: left;
        font-weight: $weight-bold;
    }

    dd {
        float: right;
    }

    dd {
        margin: 0;
    }
}
